name: "Tests"

on:
  push:
  schedule:
  - cron: "0 3 * * 5"
  workflow_dispatch:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - name: Formatting
        run: zig fmt --check src
      - name: Tests
        run: zig build test
      - name: Building binaries
        run: zig build
